#navbar-container {
  width: 100%;
  height: 3.5rem;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: var(--backgroundColorLetthet);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

@media only screen and (min-width: 768px) {
  /*Tablets [601px -> 1200px]*/
  #navbar-container {
    height: 4rem;
  }
}

.navbar {
  width: 100%;
  padding-bottom: 0 !important;
}

.nav-menu {
  width: 100%;
  margin-top: -0.1rem;
  transform: scale(1.1) !important;
}

.nav-menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-menu-items li {
  align-content: center;
  width: auto;
}

.icon-and-title {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-family: Inter, sans-serif;
  font-size: 0.95rem;
}
